body {
    background-color: rgb(187, 190, 194);
}

button {
    background-color: rgb(94, 183, 235);
}

#tasks {
    position: absolute;
}

#task {
    box-sizing: border-box;
    height: 50px;
    width: 300px;
    padding-top: 3%;
    padding-left: 10px;
    margin-top: 5px;
    margin-left: 10px;
    border: 2px solid black;
}

#form {
    margin-left: 50%;
}

.delete {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: start;
}